<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="content container col-xxl-8 col-md-10">
        <div class="flex-container py-5">
            <!-- Section 1 -->
            <div class="section1 text-sm-start">
                <div>
                    <img src="<%= data.strMealThumb %>" alt="<%= data.strMeal %>" loading="lazy" class="img-fluid">
                </div>
                <div>
                    <h4 class="mt-3"><%= data.strMeal %></h4>
                    <li class="text pt-2 mx-2"><%= data.strCategory %></p>
                    <li class="text mx-2"><%= data.strArea %></p>
                    <div class="button">
                        <form action="/">
                            <input class="btn btn-outline-dark btn-md my-2" type="submit" value="random meal ðŸ²">
                        </form>
                    </div>
                </div>
                <div class="section2 text-sm-start my-4">
                    <h4>Ingredients</h4>
                    <% ingredients.forEach(ingredient => { %>
                        <li class="text"><%=ingredient.ingredient %> (<%= ingredient.measure%>)</li>
                    <%});%>
                </div>
            </div>

            <!-- Section 2 -->
            <div class="section3 text-sm-start">
                <h4>Instructions</h4>
                <p class="text"><%= data.strInstructions %></p>
            </div>
        </div>
    </div>
    <footer class="py-3 border-top">
        <p class="text-center text-body-secondary">Â© Mohak's Project</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>